body {
  max-width: 1000px;
  margin: auto;
  font-family: monospace;
}

body,
input,
textarea {
  font-size: 16px;
  text-align: left;
}

button {
  font-size: 14px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  height: 250px;
  padding: 10px;
}